.cartoon-border {
    border: 1px dotted orange
}

#cartoon {
    width: 99%;
    margin-left: auto;
    margin-right: auto
}

#cartoon svg:not(:root) {
    overflow: visible
}

.segment {
    cursor: pointer
}

.segment .segment-label {
    font-size: 14px
}

.segment .segment-box {
    fill: #5b616b
}

.segment:hover .segment-box:hover {
    fill: #000 !important
}

.gene {
    cursor: pointer
}

.gene .gene-label {
    font-size: 14px;
    fill: #212121
}

.gene .gene-label .selected {
    fill: #cd2026
}

.gene .gene-box {
    fill: #94bfa2
}

.gene .gene-box .selected {
    fill: #cd2026
}

.gene:hover .gene-box {
    fill: #4aa564
}

.gene:hover .gene-box .selected {
    fill: #cd2026
}

.peptide {
    cursor: pointer
}

.peptide .peptide-label {
    font-size: 14px;
    fill: #212121
}

.peptide .peptide-box {
    fill: #aeb0b5;
    stroke-width: 1;
    stroke: #fff
}

.peptide:hover .peptide-box {
    fill: #5b616b
}

.cartoon-item-selected > rect {
    fill: #e31c3d !important
}

.tooltip-container {
    position: absolute;
    pointer-events: none;
    padding: .5rem 1.5rem;
    background-color: #f1f1f1;
    border: 1px solid #aeb0b5;
    font-size: 14px
}

.tooltip-container h4 {
    margin: 0 0 4px
}

.tippy-box {
    border-radius: 0
}

.tippy-box .tippy-content {
    font-size: .8rem
}

#cartoon .cartoon__item--selected {
    fill: #4773aa
}

#cartoon .cartoon__item--mouseover {
    fill: #5b616b
}

#cartoon .cartoon .peptide-box {
    stroke: #fff !important;
    stroke-width: 1 !important
}

.sars-cov2-download {
    margin-top: 16px;
    margin-bottom: 16px
}

.cartoon-wrapper {
    margin-top: 32px;
    position: sticky;
    z-index: 1
}

.cartoon-wrapper span {
    color: #5b616b
}

#app {
    padding: 2em 0em 2em 2em;
}

.tippy-box {
    min-width: 10em;
}

.variant--tooltip {
    /*display: flex;*/
}

.variant--tooltip dd, .variant--tooltip dt {

}

.dataTables_wrapper {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

/*============detail view styles=============*/
.icn3d-seqLine {
    white-space: nowrap;
}

.icn3d-dl_sequence {
    background: white;
}

.icn3d-dl_sequence span {
    display: inline-block;
    font-size: 11px;
    width: 10px;
    text-align: center;
}

.icn3d-residue {
    font-weight: regular;
}


